.text-center{
  background-color: aqua;
  padding: 1rem 1rem;
  border-radius:1rem ;
}

.App{
  width:80vw;
  height:80vh;
  border:1rem solid skyblue;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
  margin:auto;
  margin-top: 2rem;
  box-shadow: 1rem 1rem 0.2rem rgb(114, 110, 110);
}